@tailwind base;
@tailwind components;
@tailwind utilities;

.border{
    border-radius: 12px;
}
Button{
    transition:  .5s ease;
}
Button:hover{
    transform: scale(1.02);
    background:aqua;
}
.text-gray-800{
    color: blue;
}
.rounded-lg{
    border-radius: 23px;
    
}